* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}



html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}





/* Nu jag ska börja jobba med header section */
/* jag har jobbat med hela bakgrund här */





header {


    background-image: url(negative-space-black-forest-dawn.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}



.head {

   display: flex;
   flex-direction: column;
   height: 100vh;
     
}


.mobile-meny-btn {    

    display: none;

}


.head .nav a {

    color: white;
    text-decoration: none;   
}


.nav {


    align-self: flex-end;
    margin-top: 20px;
    margin-right: 80px;
    gap: 15px;
    display: flex;

}



.head .nav a:hover {

    text-decoration: underline;

}




.head .middle-text {

    text-align: center;
    margin-top: 40vh;
    color: white;

}


.middle-text h2 {

    margin-bottom: 25px;

}


.middle-text p {

    margin-bottom: 25px;

}


.next-page {
    margin-top: auto;
    align-self: center;
    margin-bottom: 20px;
    text-align: center;
    
}


.next-page a {

    color: white;
    font-size: 20px;
    
}


/* nu jag ska lägga media quary på header så att hemsidan blir responsiv */


@media (max-width: 600px) {


    .head {

        display: flex;
        flex-direction: column;

    }



    .mobile-meny-btn {    

        display: block;
        align-self: flex-end;
        width: 40px;
        height: 40px;
        font-size: 40px;
        margin-top: 30px;
        margin-right: 20px;
        background: none;
        border: none;
        
         
    }


    
    .nav {

        display: none;

    }

}






/* Header section är klar */
/* Nu jag ska jobba med main section */


main h2 {


    text-align: center;
    
}


/* jag ska bara använda team med grid sen resten ov boxar med flexbox */

.team {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;


}


.team .members {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.team .members h4 {

    text-align: center;
    margin: 40px;

}



.team .members img {

    width: 200px;
    border-radius: 50%;
}



   
.team .members p {

    background-color: rgb(223, 222, 222);
    border-radius: 2px;
    padding: 20px;
    margin: 10px;

}


.quote {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}



.contact {

    display: flex;

}


main .next-page a {

    color: black;
    text-align: center;
     

}


/* nu jag ska börja lägga media quaery för menu section */


@media(max-width:600px) {


    .team {


        display: grid;
        grid-template-columns: 1fr;
    }



}




/* Jag har jobbat klart med main section */
/* nu jag ska börja med footer section */




.contact {  

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: black;
    color: white;
    padding: 40px;
    margin-top: 40px;

}



.contact .social-media {


    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    
} 


.contact .social-media img {

    width: 25px;

}


/* media query för footer section */


@media(max-width:600px) {


    .contact {


        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;

    }


}



/* klar */